<div class="messaged-index-container">
  <div class="messaged-outer-wrapper">
    <div class="messaged-inner-wrapper">
      <div class="messaged-index">
        <% if t('messaged.header').present? %>
          <h1 class="messaged-header"><%= t('messaged.header') %></h1>
        <% end %>
        <% # TODO: How do we make current_user model agnostic? %>
        <%#= turbo_stream_from current_account, "messages" %>
        <div class="messaged-messages" id="messages">
            <%= render @messages %>
        </div>

        <%= turbo_frame_tag "new_message" do %>
          <%= render "form", message: @new_message %>
        <% end %>
      </div>
    </div>
  </div>
</div>