<div class="messaged-index-container">
  <div class="messaged-outer-wrapper">
    <div class="messaged-inner-wrapper">
      <div class="messaged-index">
        <% if t('messaged.header').present? %>
          <h1 class="messaged-header"><%= t('messaged.room_index') %></h1>
        <% end %>
        <div class="messaged-rooms" id="rooms">
          <%= render @rooms %>
        </div>
      </div>
    </div>
  </div>
</div>